.tienda .info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tienda .contentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda h1 {
  background: var(--third-color);
  color: white;
  margin-top: 30px;
  width: fit-content;
  padding: 16px 32px;
  text-align: center;
  font-family: 'Anton';
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.tienda h2 {
  color: var(--third-color);
  margin-top: 30px;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.tienda p {
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .tienda h1 {
    font-size: 3rem;
  }

  .tienda h2 {
    font-size: 1.75rem;
  }

  .tienda p {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .tienda {
    margin-bottom: 150px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
