.cta {
  margin-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 32px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h3 {
  color: white;
  padding: 32px;
  text-align: center;
  font-family: 'Anton';
  text-transform: uppercase;
  width: 100%;
  font-size: 2.5rem;
}

.cta a,
.cta span {
  display: inline-block;
  margin-top: 16px;
  font-size: 1.25rem;
}

.cta h3.secondary {
  background: var(--secondary-color);
}

.cta h3.third {
  background: var(--third-color);
}

.cta a.secondary,
.cta span.secondary {
  background: var(--secondary-color);
  color: white;
}

.cta a.third,
.cta span.third {
  background: var(--third-color);
  color: white;
}

.cta span:hover {
  background: grey;
  cursor: none;
}

.cta a:hover {
  background: var(--primary-color);
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .cta {
    margin-bottom: 0;
  }

  .cta h3 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .cta {
    position: relative;
    margin-bottom: 30px;
    padding: 0;
    border-bottom-left-radius: initial;
    flex-direction: row;
    justify-content: flex-start;
  }

  .cta img {
    width: 350px;
    object-fit: cover;
    overflow: hidden;
  }

  .cta h3 {
    position: relative;
    margin-left: -150px;
    padding: 16px 0;
    font-size: 3rem;
    width: fit-content;
    min-width: 400px;
  }

  .cta span,
  .cta a {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .cta {
    margin-bottom: 60px;
  }

  .cta h3 {
    margin-left: -100px;
    min-width: 500px;
  }
}

@media (min-width: 1400px) {
  .cta h3 {
    min-width: 650px;
    font-size: 4rem;
  }

  .cta span,
  .cta a {
    right: 8%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
