.sectionFormulario {
  margin-bottom: 30px;
}

.sectionFormulario .contentLogo {
  text-align: center;
}

.sectionFormulario .logoAfa {
  max-width: 265px;
  margin-top: 16px;
  margin-bottom: 32px;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .sectionFormulario .logoAfa {
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  .sectionFormulario .logoAfa {
    max-width: 320px;
  }

  .sectionFormulario {
    margin-top: 60px;
  }

  .sectionFormulario .contentLogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionFormulario .contentForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionFormulario .contentLogo .logoAfa {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .sectionFormulario .logoAfa {
    max-width: 320px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .sectionFormulario .logoAfa {
    max-width: 420px;
  }
}

@media (min-width: 1600px) {
}
