.slide {
  position: relative;
}

.slide .frase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 16px;
  padding-right: 16px;
  max-width: 85%;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .slide .frase {
    max-width: 65%;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .slide .frase {
    max-width: 55%;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
